global
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

listen db-in
    bind *:1521
    server cise-server oracle.cise.ufl.edu:1521 maxconn 32
